DJANGO_SECRET_KEY=change-me-in-local-development-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=brandymanager
POSTGRES_USER=brandymanager
POSTGRES_PASSWORD=brandymanager
POSTGRES_HOST=db
POSTGRES_PORT=5432
